*{
    margin: 0px;
    padding: 0px;
}
ul,li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .nav-icon{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
        cursor: pointer;
        .search{
        position: relative;
        height: 50px;
        width: 400px;
        margin-top: 20px;
        margin-left: 10px;

        input{
            box-sizing: border-box;
            height: 30px;
            width: 300px;
            padding: 10px 30px 10px 30px;
            border: 2px solid sandybrown;
            border-radius: 9px;
        }
        img{
            position: absolute;
            left: 5px;
            top: 2px;
            display: block;
            height: 25px;
            width: 25px;
            border-radius: 50%;
        }
        .search-lists{
        position: absolute;
        top: 40px;
        box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.16); /*2*/
        box-sizing: border-box;
        width: 300px;
        padding: 10px 10px;
        border: 2px solid ;
        border-radius: 5px;
        background-color: antiquewhite;
        display: none;
        li{
            margin-bottom: 5px;
            border-bottom: 2px dashed mediumaquamarine;
        }
        .Li{
            display: none;
        }

    }

    }
    }
    
    .new-page{
        width: 150px;
        height: 35px;
        box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.16); /*2*/
        border-radius: 25%;
        border: 2px dashed rosybrown;
        background-color: bisque;
        text-align: center;
        margin-right: 20px;
        a{
            text-decoration: none;
            font-weight: 600;
            font-size: medium;
            line-height: 35px;
            color: aquamarine;

        }
    }
}
main{
    
    header{
       .news{
        display: flex;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        margin-top: 10px;
        li{
            width: 300px;
            height: 400px;
            background-color: lightsalmon;
            margin-left: 10px;
            margin-bottom: 10px;
            border-radius: 30px;
            box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.16);
            cursor: pointer;
       } 
       & video{
        height: 400px;
        width: 300px;
        border-radius: 30px;
       }

    }
   

    

}
 .clock-wrap{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
        width: 300px;
        height: 300px;
        background-color: aqua;
        border-radius: 50%;
        .clock-inner{
            position: relative;
            width: 250px;
            height: 250px;
            background-color: white;
            border-radius: 50%;
            .numbers{
                position: relative;
                width: 100%;
                height: 100%;

                div{
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;

                }
                span{
                    display: inline-block;
                }


            }
            .pointer{
                position: absolute;
                transform-origin: bottom center;
                bottom: 50%;
                left: 50%;
                &#hour{
                    width: 8px;
                    height: 60px;
                    background-color: black;
                    border-radius: 4px;
                    margin-left: -4px;
                }
                &#minute{
                    width: 6px;
                    height: 80px;
                    background-color: aqua;
                    border-radius: 3px;
                    margin-left: -3px;
                }
                &#second{
                    width: 4px;
                    height: 100px;
                    background-color: yellowgreen;
                    border-radius: 2px;
                    margin-left: -2px;
                }

            }

        }
}
}
footer{
    font-size: 78px;
    text-align: center;

}